# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Python compiled
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

# Git
.git/
.gitignore

# Testing
.pytest_cache/
